.page__content::before {
  background-image: url('../images/bg-header-desktop.svg');
}

.filter {
  max-width: 80vw;
  margin: 0 auto;
}

.job-listing {
  padding-left: 10rem;
  padding-bottom: 1rem;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 2rem;

  &__info {
    border: none;
  }

  &__company-logo {
    top: calc(50% - 3rem);
    left: 2rem;
    width: 6rem; 
  }

  &__tag-container {
    position: absolute;
    right: 1rem;
    top: calc(50% - 1rem);
    margin: 0;
  }
}