@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

.page {
  background-color: hsl(180, 52%, 96%);
  font-family: 'Spartan', sans-serif;
  margin: 1rem;
}

.job-listing {
  $primary: hsl(180, 29%, 50%);
  $grey: hsl(180, 8%, 52%);

  background-color: white;
  position: relative;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    background: $primary;
  }

  &__company-logo {
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
    width: 3rem;
  }

  &__company-name {
    display: flex;
    align-items: center;
    order: 0;
    color: $primary;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &--new &__company-name::before {
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    content: 'NEW!';
    order: 1;
    color: white;
    background: $primary;
  }

  &--featured &__company-name::after {
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    content: 'FEATURED';
    order: 2;
    color: white;
    background: black;
  }

  &__info {
    color: hsl(180, 8%, 52%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey;
  }

  &__employment-type {
    &::before {
      content: '• ';
    }

    &::after {
      content: ' •';
    }
  }

  &__tag-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__tag {
    color: $primary;
    background: hsl(180, 52%, 96%);
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
}