@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

$primary: hsl(180, 29%, 50%);
$grey: hsl(180, 8%, 52%);

.page {
  background-color: hsl(180, 52%, 96%);
  font-family: 'Spartan', sans-serif;
  margin: 1rem;
  margin-top: 6.5rem;  

  &__content {
    &::before {
      content: '';
      background-color: hsl(180, 29%, 50%);
      background-image: url('../images/bg-header-mobile.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 9rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.tag-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.tag {
  color: $primary;
  background: hsl(180, 52%, 96%);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.filter {
  display: none;
  position: relative;
  background: white;
  padding: 1rem;
  box-shadow: 0 0.5rem 0.5rem 0 hsla(180, 29%, 50%, 0.2);
  border-radius: 0.4rem;

  &__button {
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.8rem);
    background: white;
    font-weight: 700;
    color: $grey;
    border: none;
    
    &:hover {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__tag {
    position: relative;
    padding-right: 2.5rem;

    &:hover {
      &::after {
        background-color: hsl(180, 14%, 20%);
        cursor: pointer;
      }
    }

    &::after {
      position: absolute;
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
      top: 0;
      bottom: 0;
      right: 0;
      width: 2rem;
      content: '';
      background: url(../images/icon-remove.svg);
      background-repeat: no-repeat;
      background-size: 1rem;
      background-position: center;
      background-color: $primary;
    }
  }
}

.job-listing {
  background-color: white;
  position: relative;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 0.5rem 0 hsla(180, 29%, 50%, 0.2);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  &__company-logo {
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
    width: 3rem;
  }

  &__company-name {
    display: flex;
    align-items: center;
    order: 0;
    color: $primary;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &--featured {
    &::before {
      background: $primary;
    }
  }

  &--new &__company-name::before {
    font-size: 12px;
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    content: 'NEW!';
    order: 1;
    color: white;
    background: $primary;
  }

  &--featured &__company-name::after {
    font-size: 12px;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    content: 'FEATURED';
    order: 2;
    color: white;
    background: black;
  }

  &__job-title {
    &:hover {
      color: $primary;
      cursor: pointer;
    }
  }

  &__info {
    color: hsl(180, 8%, 52%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey;
  }

  &__employment-type {
    &::before {
      content: '• ';
    }

    &::after {
      content: ' •';
    }
  }

  &__tag-container {
    margin-top: 1rem;
  }

  &__tag {
    &:hover {
      background: $primary;
      color: white;
      cursor: pointer;
    }
  }
}